XML/Assignment_3/q4.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema file:/C:/Program%20Files%20(x86)/Exchanger%20XML%20Editor%203.3/types/XML%20Schema/Validation/XMLSchema.xsd">

		<xsd:element name="Employee">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="Children" maxOccurs="2">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="Male"></xsd:element>
								<xsd:element name="Female"></xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>	
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
</xsd:schema>