XML/Assignment_2/dtd/10_Student.dtd

<!ELEMENT StudentInfo (Student+,Course+,Subject+)>
<!ELEMENT Student (Name, Contact)>
<!ATTLIST Student course IDREF #REQUIRED>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Contact (#PCDATA)>
<!ATTLIST Contact number NMTOKEN #REQUIRED>
<!ELEMENT Course (cName)>
<!ATTLIST Course cID ID #REQUIRED>
<!ELEMENT cName (#PCDATA)>
<!ELEMENT Subject (#PCDATA)>
<!ATTLIST Subject name  (Java | xml | OS) #REQUIRED>
<!ENTITY courseYear "2023">