XML/Assignment_2/dtd/8_Student.dtd

<!ELEMENT Student (Roll_no, Name, Marks, Rank)>
<!ELEMENT Roll_no (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Marks (web_technologies, XML, J2EE, NS)>
<!ELEMENT web_technologies (#PCDATA)>
<!ELEMENT XML (#PCDATA)>
<!ELEMENT J2EE (#PCDATA)>
<!ELEMENT NS (#PCDATA)>
<!ELEMENT Rank (#PCDATA)>
